<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@5.15.2/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css" />

        <title>
            {% if page.title %}
                {{ page.title | escape }}
            {% else %}
                {{ site.title | escape }}
            {% endif %}
        </title>
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    </head>

    <body class="text-gray-800 antialiased">
        <nav class="absolute flex flex-wrap top-0 z-50 w-full px-2 py-3 items-center justify-between navbar-expand-lg">
            <div class="flex flex-wrap px-4 mx-auto container items-center justify-between">
                <div class="relative lg:static flex lg:block w-full lg:w-auto justify-between lg:justify-start">
                    <a class="inline-block mr-4 py-2 uppercase text-sm font-bold leading-relaxed whitespace-no-wrap text-white" href="{{ site.baseurl }}">
                        {{ site.title }}
                    </a>

                    <button class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" onclick="toggleNavbar('example-collapse-navbar')">
                        <i class="text-white fas fa-bars"></i>
                    </button>
                </div>

                <div class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden" id="example-collapse-navbar">
                    <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
                        {% for my_page in site.pages %}
                            {% if my_page.title %}
                                <li class="flex items-center">
                                    <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" href="#pablo">
                                        <span class="lg:hidden inline-block ml-2">
                                            {{ my_page.title }}
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;">
                <div class="absolute top-0 w-full h-full bg-center bg-cover" style='background-image: url("https://images.unsplash.com/photo-1610097453820-0c3c8aac0202?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");'>
                    <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
                </div>

                <div class="container relative mx-auto">
                    <div class="items-center flex flex-wrap">
                        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                            <div class="pr-12">
                                <h1 class="text-white font-semibold text-5xl">
                                    Solusi masa depan Anda
                                </h1>
                                
                                <p class="mt-4 text-lg text-gray-300">
                                    Limavolt merupakan tim software developer yang mengubah visi Anda
                                    menjadi karya kreatif. Kami mengembangkan aplikasi yang menjadi
                                    solusi masa depan Anda.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden" style="height: 70px; transform: translateZ(0px);">
                    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                        <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100" ></polygon>
                    </svg>
                </div>
            </div>

            <section class="pb-20 bg-gray-300 -mt-24">
                <div class="container mx-auto px-4">
                    <div class="flex flex-wrap">
                        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                                <div class="px-4 py-5 flex-auto">
                                    <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                                        <i class="fas fa-home"></i>
                                    </div>
                          
                                    <h6 class="text-xl font-semibold">
                                        Jasa Pembuatan Website
                                    </h6>
                          
                                    <p class="mt-2 mb-4 text-gray-600">
                                        Kami menawarkan layanan pembuatan website yang berkarakter untuk membantu pemasaran usaha Anda.
                                    </p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="w-full md:w-4/12 px-4 text-center">
                            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                                <div class="px-4 py-5 flex-auto">
                                    <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
                                        <i class="fas fa-laptop-code"></i>
                                    </div>
                                    
                                    <h6 class="text-xl font-semibold">
                                        Pengembangan Aplikasi Web
                                    </h6>
                                    
                                    <p class="mt-2 mb-4 text-gray-600">
                                        Kami menawarkan layanan pengembangan aplikasi untuk mendukung proses bisnis perusahaan Anda.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
                            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                                <div class="px-4 py-5 flex-auto">
                                    <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                                        <i class="fas fa-wrench"></i>
                                    </div>
                                    
                                    <h6 class="text-xl font-semibold">
                                        Maintenance Website
                                    </h6>
                                    
                                    <p class="mt-2 mb-4 text-gray-600">
                                        Kami menawarkan layanan bantuan perawatan dan perbaikan website usaha Anda.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="flex flex-wrap items-center mt-32">
                        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
                            <div class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100">
                                <i class="fas fa-user-friends text-xl"></i>
                            </div>
                            
                            <h3 class="text-3xl mb-2 font-semibold leading-normal">
                                Mewujudkan solusi Anda
                            </h3>
                            
                            <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">
                                Kami mendengarkan ide dan kebutuhan Anda serta mewujudkannya menjadi sebuah karya
                                yang menjadi solusi masa depan Anda. Dirancang khusus untuk bisnis Anda
                                sehingga dapat menjadi solusi yang tepat guna.
                            </p>
                            
                            <a href="{{ site.baseurl }}/#contact-form" class="font-bold text-gray-800 mt-8">
                                Hubungi kami dan wujudkan!
                            </a>
                        </div>
                        
                        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
                            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600">
                                <img alt="..." src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1051&amp;q=80" class="w-full align-middle rounded-t-lg">
                                
                                <blockquote class="relative p-8 mb-4">
                                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                                        <polygon points="-30,95 583,95 583,65" class="text-pink-600 fill-current" ></polygon>
                                    </svg>
                                    
                                    <h4 class="text-xl font-bold text-white">
                                        Kami, Limavolt.
                                    </h4>
                                    
                                    <p class="text-md font-light mt-2 text-white">
                                        Kami dapat mewujudkan solusi-solusi Anda karena kami memiliki tim terbaik dibidangnya.
                                        Tidak hanya tentang skill, juga pelayanan kami yang selalu berfokus pada kepuasan Anda.
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="relative py-20">
                <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height: 80px; transform: translateZ(0px);">
                    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                        <polygon class="text-white fill-current" points="2560 0 2560 100 0 100"></polygon>
                    </svg>
                </div>

                <div class="container mx-auto px-4">
                    <div class="items-center flex flex-wrap">
                        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
                            <img alt="..." class="max-w-full rounded-lg shadow-lg" src="https://images.unsplash.com/photo-1555212697-194d092e3b8f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80">
                        </div>
                        
                        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
                            <div class="md:pr-12">
                                <div class="text-pink-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-pink-300">
                                    <i class="fas fa-rocket text-xl"></i>
                                </div>
                                
                                <h3 class="text-3xl font-semibold">#LokalSupportLokal</h3>
                                
                                <p class="mt-4 text-lg leading-relaxed text-gray-600">
                                    Kami adalah software developer dari Purwokerto.
                                    Semangat kami adalah "software developer
                                    yang mewujudkan solusi masa depan Anda", dengan ini
                                    kami mengembangkan aplikasi yang dapat membantu
                                    tumbuh kembang bisnis UKM, terutama UKM lokal.
                                </p>

                                <p class="mt-4 text-lg leading-relaxed text-gray-600">
                                    <a href="{{ site.baseurl }}/#contact-form" class="font-bold text-gray-800 mt-8">
                                        Mari bermitra!
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="pt-20 pb-48">
                <div class="container mx-auto px-4">
                    <div class="flex flex-wrap justify-center text-center mb-24">
                        <div class="w-full lg:w-6/12 px-4">
                            <h2 class="text-4xl font-semibold">Here are our heroes!</h2>
                            <p class="text-lg leading-relaxed m-4 text-gray-600">
                                Dalam setiap karya yang kami ciptakan, terdapat para pahlawan super
                                yang telah sepenuh hati membuatnya jadi terwujud.
                            </p>
                        </div>
                    </div>
                    
                    <div class="flex flex-wrap justify-center">
                        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                            <div class="px-6">
                                <img alt="..." src="https://cdn.projects.co.id/upload/usra02d17/202006285ef805cc50ee6.jpg" class="shadow-lg rounded-full max-w-full mx-auto" style="max-width: 120px;">
                                
                                <div class="pt-6 text-center">
                                    <h5 class="text-xl font-bold">Sunu Haeriadi</h5>
                                    
                                    <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                                        Founder, Developer
                                    </p>
                                    
                                    <div class="mt-6">
                                        <button class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button">
                                            <i class="fab fa-twitter"></i>
                                        </button>
                                        
                                        <button class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button">
                                            <i class="fab fa-facebook-f"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                            <div class="px-6">
                                <img alt="..." src="./img/photo-lady.jpg" class="shadow-lg rounded-full max-w-full mx-auto" style="max-width: 120px;">
                                
                                <div class="pt-6 text-center">
                                    <h5 class="text-xl font-bold">Lady Wulandari</h5>
                                    
                                    <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                                        Co-Founder, Marketer
                                    </p>
                                    
                                    <div class="mt-6">
                                        <button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button">
                                            <i class="fab fa-instagram"></i>
                                        </button>
                                        
                                        <button class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button">
                                            <i class="fab fa-tiktok"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pb-20 relative block bg-gray-900" id="contact-form">
                <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height: 80px; transform: translateZ(0px);">
                    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                        <polygon class="text-gray-900 fill-current" points="2560 0 2560 100 0 100"></polygon>
                    </svg>
                </div>

                <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
                    <div class="flex flex-wrap text-center justify-center">
                        <div class="w-full lg:w-6/12 px-4">
                            <h2 class="text-4xl font-semibold text-white">
                                Hubungi Kami
                            </h2>
                            
                            <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
                                Karena adanya pandemi COVID-19, kami mewajibkan adanya janji temu.
                                Anda dapat menghubungi kami untuk menentukan janji temu kita melalui
                                formulir di bawah ini.
                            </p>
                        </div>
                    </div>
                    
                    <div class="flex flex-wrap mt-12 justify-center">
                        <div class="w-full lg:w-3/12 px-4 text-center">
                            <div class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
                                <i class="fas fa-head-side-mask text-xl"></i>
                            </div>
                            
                            <h6 class="text-xl mt-5 font-semibold text-white">
                                Kenakan Masker
                            </h6>
                            
                            <p class="mt-2 mb-4 text-gray-500">
                                Selalu kenakan masker dengan baik. Menutup hidung dan mulut.
                            </p>
                        </div>
                        
                        <div class="w-full lg:w-3/12 px-4 text-center">
                            <div class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
                                <i class="fas fa-people-arrows text-xl"></i>
                            </div>
                            
                            <h5 class="text-xl mt-5 font-semibold text-white">
                                Jaga Jarak
                            </h5>
                            
                            <p class="mt-2 mb-4 text-gray-500">
                                Selalu jaga jarak dan minimalkan kontak fisik dengan lingkungan sekitar.
                            </p>
                        </div>
                        
                        <div class="w-full lg:w-3/12 px-4 text-center">
                            <div class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
                                <i class="fas fa-hands-wash text-xl"></i>
                            </div>
                            
                            <h5 class="text-xl mt-5 font-semibold text-white">
                                Cuci Tangan
                            </h5>
                            
                            <p class="mt-2 mb-4 text-gray-500">
                                Biasakan untuk mencuci tangan dengan sabun dan air mengalir.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="relative block py-24 lg:pt-0 bg-gray-900">
                <div class="container mx-auto px-4">
                    <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
                        <div class="w-full lg:w-6/12 px-4">
                            <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300">
                                {% comment %}
                                <div class="flex-auto p-5 lg:p-10">
                                    <h4 class="text-2xl font-semibold">
                                        Ingin menghubungi kami?
                                    </h4>
                                    
                                    <p class="leading-relaxed mt-1 mb-4 text-gray-600">
                                        Silakan manfaatkan formulir ini untuk menghubungi kami.
                                        Kami akan membalasnya dalam kurun waktu 1x24 jam.
                                    </p>
                                    
                                    <div class="relative w-full mb-3 mt-8">
                                        <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="full-name">
                                            Nama lengkap
                                        </label>
                                        
                                        <input type="text" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="Full Name" style="transition: all 0.15s ease 0s;">
                                    </div>
                                    
                                    <div class="relative w-full mb-3">
                                        <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="email">
                                            Nomor telepon
                                        </label>
                                        
                                        <input type="email" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="Email" style="transition: all 0.15s ease 0s;">
                                    </div>
                                    
                                    <div class="relative w-full mb-3">
                                        <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="message">
                                            Pesan
                                        </label>
                                        
                                        <textarea rows="4" cols="80" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="Type a message..."></textarea>
                                    </div>
                                    
                                    <div class="text-center mt-6">
                                        <button class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all 0.15s ease 0s;">
                                            Kirim Pesan
                                        </button>
                                    </div>
                                </div>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        
        <footer class="relative bg-gray-300 pt-8 pb-6">
            <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height: 80px; transform: translateZ(0px);">
                <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                    <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
            
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap">
                    <div class="w-full lg:w-6/12 px-4">
                        <h4 class="text-3xl font-semibold">
                            Let's keep in touch!
                        </h4>
                        
                        <h5 class="text-lg mt-0 mb-2 text-gray-700">
                            Temukan kami di platform lainnya.
                        </h5>
                        
                        <div class="mt-6">
                            <button class="bg-white text-blue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3" type="button">
                                <i class="flex fab fa-twitter"></i>
                            </button>
                            
                            <button class="bg-white text-blue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3" type="button">
                                <i class="flex fab fa-facebook-square"></i>
                            </button>
                            
                            <button class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3" type="button">
                                <i class="flex fab fa-github"></i>
                            </button>
                            
                            <button class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3" type="button">
                                <i class="flex fab fa-gitlab"></i>
                            </button>
                        </div>
                    </div>
                    
                    <div class="w-full lg:w-6/12 px-4">
                        <div class="flex flex-wrap items-top mb-6">
                            {% comment %}
                            <div class="w-full lg:w-4/12 px-4 ml-auto">
                                <span class="block uppercase text-gray-600 text-sm font-semibold mb-2">Useful Links</span>
                                
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="https://www.creative-tim.com/presentation">About Us</a>
                                    </li>
                                    
                                    <li>
                                        <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="https://blog.creative-tim.com">Blog</a>
                                    </li>
                                    
                                    <li>
                                        <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="https://www.github.com/creativetimofficial">Github</a>
                                    </li>
                                    
                                    <li>
                                        <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="https://www.creative-tim.com/bootstrap-themes/free">Free Products</a>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="w-full lg:w-4/12 px-4">
                                <span class="block uppercase text-gray-600 text-sm font-semibold mb-2">Other Resources</span>
                                
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md">MIT License</a>
                                    </li>
                                    
                                    <li>
                                        <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="https://creative-tim.com/terms">Terms &amp; Conditions</a>
                                    </li>
                                    
                                    <li>
                                        <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="https://creative-tim.com/privacy">Privacy Policy</a>
                                    </li>
                                    
                                    <li>
                                        <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="https://creative-tim.com/contact-us">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                            {% endcomment %}
                        </div>
                    </div>
                </div>
                
                <hr class="my-6 border-gray-400">
                
                <div class="flex flex-wrap items-center md:justify-between justify-center">
                    <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                        <div class="text-sm text-gray-600 font-semibold py-1">
                            Hak cipta © 2021 oleh
                            <a href="{{ site.baseurl }}" class="text-gray-600 hover:text-gray-900">Limavolt</a>.
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script>
            function toggleNavbar(collapseID) {
                document.getElementById(collapseID).classList.toggle("hidden");
                document.getElementById(collapseID).classList.toggle("block");
            }
        </script>
    </body>
</html>
